<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatis的全局配置文件 -->
<!--
 程序中读取的是这个文件，
 XxxMapper，xml文件在第二步中读取
 即，XxxMapper.xml是通过这个文件来间接读取的！	
 -->
<configuration >
	<!-- 将配置移到 spring 的配置文件中  -->
</configuration>